<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h1 class="text-4xl font-bold text-pink-800 shadow-lg/30 text-center py-6 font-serif ">Tic Tac Toe!</h1>
        <div class="flex justify-center mt-10">
            <div class="grid grid-cols-3 gap-3 ">
                <div v-for="(row, rowIndex) in boardcells" class="">
                    <div v-for="(cell, colIndex) in row"
                        class="h-25 w-25 rounded-lg bg-pink-600 mt-3 flex justify-center items-center font-bold cursor-pointer hover:scale-110 hover:bg-pink-400 shadow-lg/20 border-4 border-white"
                        @click="cellClick(rowIndex, colIndex)"
                        :class="{'text-rose-300 text-5xl': cell === 'X', 'text-pink-900 text-5xl': cell === 'O'}">
                        {{cell}}

                    </div>
                </div>

            </div>
        </div>
        <div class="flex justify-center mt-9">
            <h1 class="text-white bg-pink-600 rounded-lg text-2xl font-bold py-2 px-3 border-3 border-bg-white shadow-lg/20">{{message}}</h1>
        </div>
       
    </div>


    <script>
        Vue.createApp({
            data() {
                return {
                    boardcells: [
                        ["", "", ""],
                        ["", "", ""],
                        ["", "", ""]
                    ],
                    currentPlayer: "X",
                    message: "Lets Play!",
                }
            },
            methods: {
                cellClick(rowIndex, colIndex) {
                    if (this.boardcells[rowIndex][colIndex] === "") {
                        this.boardcells[rowIndex][colIndex] = this.currentPlayer;
                        
                        if(this.isWinner(this.currentPlayer)){
                            this.message = `Player ${this.currentPlayer} wins!`;
                             setTimeout(this.resetBtn,1500);
                        }else if(this.isDraw(this.currentPlayer)){
                            this.message = `Its a draw!`;
                            setTimeout(this.resetBtn,1500);
                        }
                        else{
                            this.currentPlayer = this.currentPlayer === "X" ? "O" : "X";
                            this.message = `Player ${this.currentPlayer}'s turn!`
                        } 
                    }
                    // ternary operator same with nested(elseif)    
                },
                isWinner(player) {
                    const b = this.boardcells;

                    for (let i = 0; i < b.length; i++) {
                        if (b[i][0] === player && b[i][1] === player && b[i][2] === player) return true;
                        if (b[0][i] === player && b[1][i] === player && b[2][i] === player)return true;
                    }
                    // diagonal
                    if (b[0][0] === player && b[1][1] === player && b[2][2] === player)return true;
                    if (b[0][2] === player && b[1][1] === player && b[2][0] === player)return true;

                },
                resetBtn(){
                    this.boardcells = [
                        ["", "", ""],
                        ["", "", ""],
                        ["", "", ""]
                    ],
                    this.currentPlayer = "X"
                    this.message =  "Lets Play!"
                },
                isDraw(){
                    let allclicked = false; 
                    
                    for(let row of this.boardcells){
                        for(let cell of row){
                            if (cell === "") {
                                allclicked = true;
                            }
                        }
                    }
                    if(!allclicked && !this.isWinner("X") && !this.isWinner("O")){
                        return true;
                    }else{
                        return false;
                    }
                    
    
                }
            }

        }).mount('#app');


    </script>

</body>

</html>